<! DOCTYPE html >
< html  xmlns: th = " http://www.thymeleaf.org " >
< cabeza >
< meta  charset = " UTF-8 " >
< título > Inserte el título aquí </ título >
</ cabeza >
< cuerpo >
Producto Guardado Satisfactoriamente

< h1 > Menú </ h1 >
	< ul >
		< Li > < un  href = " ultimo " > Mostrar Último </ una > </ li >
		< li > Mostrar Todos </ li >
		< li > Buscar Producto por Nombre </ li >
		< li > Buscar Producto por Código </ li >
		< Li > < un  href = " volver " > Volver </ una > </ li >
	</ ul >

< H3 > Lista de Productos </ h3 > < br >
			< div >
				< tabla >
				    < tr >
				      < th > Producto de bacalao </ th >
				      < th > Nombre </ th >
				      < th > Precio </ th >
				      < th > Marca </ th >
				      < th > Stock </ th >				      
				    </ tr >
					< tr  th: each = " p: $ {productos} " >
						< td  th: text = " $ {p.codProducto} " > </ td >
						< td  th: text = " $ {p.nombre} " > </ td >
						< td  th: text = " $ {p.precio} " > </ td >
						< td  th: text = " $ {p.marca} " > </ td >
						< td  th: text = " $ {p.stock} " > </ td >						
					</ tr >
				</ tabla >
			</ div >
</ cuerpo >